.discussion-page-overhead
	.dashboard
	
		.row-fluid
			.span7
				.discussion-heading
					= @discussion.title


		.row-fluid
			.span9
				.show-discussion
					%p= simple_format(@discussion.description)