.discussion-page-overhead
	.dashboard
	
		.row-fluid
			.span7
				.discussion-heading
					= @discussion.title


		.row-fluid
			.span9
				=content_tag "div", class: "show-discussion", data: {discussion: @discussion.id} do
					-# next thing to do is to get the paragrahs with a data-number
					= simple_format(@discussion.description)