Hi,
%br
%br
=@current_user.first_name
has invited you there group in ResQuery
%br
=link_to("Click here to see the group", group_url(@group))
%br
=link_to("Add a discussion", new_group_discussion_url(@group))
