.discussion-page-overhead
	.dashboard
	
		.row-fluid
			.span7
				.discussion-heading
					= @article.name


		.row-fluid
			.span9
				=content_tag "div", class: "show-discussion", data: {discussion: @article.id} do
					-# next thing to do is to get the paragrahs with a data-number
					= simple_format(@article.body)