.discussion-page-overhead
	.dashboard
	
		.row-fluid
			.span7
				.discussion-heading
					= @article.name


		.row-fluid
			.span9
				=content_tag "div", class: "show-discussion", data: {discussion: @article.id} do
					-# next thing to do is to get the paragrahs with a data-number
					= simple_format(@article.body, {}, :sanitize => false)
			.span3
				#test_box(class="hidden")
					=form_for :test do |f|
						=f.text_field :test, :placeholder => "test"
						=f.hidden_field :test_paragraph, :id => "paragraph-input" 