.dashboard
	%h4= @group.name 
	%p(class="small-text")= @group.description
	%hr 

-@group.discussions.each do |discussion|
	=discussion.title

- if can? :manage, :all
	.membership_invite_form
		=simple_form_for :invite, as: :memberships, url: memberships_path(:invite) do |f|
			=f.input :email
			=f.hidden_field :group_id, value: params[:id]
			=f.button :submit, "Invite Person"