.dashboard
	%h3
		resQuery.com/
		.main-title-text= @group.name 
	%p(class="small-text")= @group.description
	%hr 

.new-discussion
	=link_to "New Discussion", new_group_discussion_path(@group)
	%br
	%br

.updates
	%h4 Latest Discussions
	
.discussions
	-@discussions.each do |discussion|
		.discussion-unit
			%b(class="discussion-title")
				=link_to discussion.title, [@group, discussion]
			=link_to discussion.description 
			.pull-right
				= discussion.created_at.strftime("%e %b")

- if can? :manage, :all
	.membership_invite_form
		=simple_form_for :invite, as: :memberships, url: memberships_path(:invite) do |f|
			=f.input :email
			=f.hidden_field :group_id, value: params[:id]
			=f.button :submit, "Invite Person"
			
.group-members
	Current Group Members:
	-@users.each do |user|
		%li
			=user.first_name
			=user.last_name
	
	%br
	%br
	Pending Invitations
	-@pending_users.each do |f|
		%li
			=f.email