.main-information
	.container
		.row
			.offset1.span10
				.pad-top
					%h3(class="light-aqua-text") About us
					
					.row-fluid
						.span6
							.about-area
								.about-text
									ResQuery is a knowledge marketplace. Our website aims to get you the knowledge you <strong> need </strong> first. and to achieve that we create the technology will lower the barriers for knowledge (holders?) to sell that information. 







						.span3
							-#about-area
