.main-information
	.container
		.row
			.offset1.span10
				.center-alignment
					.lead-text
						%h1
							Use your networks 
							%span(class="green-text") constructively
						%p Friends are using ResQuery to help each other gain insights into the world
						%p(class="subheading-text") Currently by invitation only