.main-information
	.container-fluid
		.row-fluid
			.offset1.span10
				.center-alignment
					.lead-text
						%h1
							Find the knowledge  
							%span(class="green-text") you need
						%p Friends are using ResQuery to help each other gain insights into the world
						%p(class="subheading-text") Currently by invitation only