.dashboard
	%h4
		All Groups
	%p(class="small-text") Groups should always be progressing to to a more fundamental and insightful understanding of the world
	
	%hr
	.row-fluid
		
		.span4
			.box
				.box-info
					%b The Templates Group
		.span4
			.box
				.box-info
					%b Finance Analysis
		.span4
			.box
				.box-info
					%b The Valuation Group
					
	.row-fluid				
		.span4
			.box
				.box-info
					%b The Management Consultant's toolkit