.pad-top
	.row-fluid
		.span2.dashboard-list
			%strong
				Your
				%br Knowledge Spaces
			%ul(class="unstyled")
				%br
				- @groups.each do |group|
					%li= link_to group.name, group
					%br
			%strong= link_to "Your Notes", comments_path
			
		.span6
		
			= render 'layouts/test_info'
					
			
	
	-if false
		.row-fluid
			Notifications
			-@notifications.each do |notification|
				.span12				
					.render-notifications
						=notification.user.first_name
						|
						posted to:
						=notification.comment.commentable.title
						|
						in Group:
						=notification.group.name
						|
						=notification.comment.body
						|
						=link_to 'hide', deactivate_notification_path(notification)
				
				
.pad-top
.pad-top
				