.dashboard

	-if @groups.count != 0
		.row-fluid	
			-@groups[0..2].each do |group|
				.span4
					=link_to group do
						.box(style="background-image: url('http://distilleryimage3.ak.instagram.com/889cab60cebd11e1985822000a1d011d_7.jpg');")
							.box-info
								%b
									%p(class="group-name")= group.name
								%p(class="box-text")
									= group.description

	-if @groups.count > 3
		.row-fluid	
			-@groups[3..5].each do |group|
				.span4
					=link_to group do 
						.box
							.box-info
								%b
									%p(class="group-name")= group.name
								%p(class="box-text")
									= group.description

	
	-if false
		.row-fluid
			Notifications
			-@notifications.each do |notification|
				.span12				
					.render-notifications
						=notification.user.first_name
						|
						posted to:
						=notification.comment.commentable.title
						|
						in Group:
						=notification.group.name
						|
						=notification.comment.body
						|
						=link_to 'hide', deactivate_notification_path(notification)
				
				