.dashboard
	%h4
		All Groups
	%p(class="small-text") Groups should always be progressing to to a more fundamental, practical and insightful understanding of the world
	
	%hr
	.row-fluid
		
		.span4
			.box
				.box-info
					%b The Templates Group
					%p(class="box-text") Templates
		.span4
			.box
				.box-info
					%b The Financial Analysis Group
		.span4
			.box
				.box-info
					%b The Valuation Group
					
	.row-fluid				
		.span4
			.box
				.box-info
					%b The Management Consultant's toolkit
		.span4
			.box
				.box-info
					%b The Case Study Group
					
					
		.span4
			.box
				.box-info
					%b The Brand Management & Marketing Group