.dashboard
	.row-fluid
		.span12
			.pull-right.right-group-header
				%p Request an invite for a new contributor
			%h4 The Financial Analysis Group
			%p(class="small-text") Understanding and synthesising the financial world			
			%hr
	.row-fluid
		.groups-area
			.span8
				%h4 Latest Updates
				%b June 26