<div class="full-width-background"
		style="background-image: url('https://a1.muscache.com/airbnb/nabelove/locations/assets/home/62-ce8f32b015f602f471f3fe471c03a106.jpg');">

<div class="container">
	<div class="main-title-text">
		<h2><%= @group.name %></h2>
	</div>
	
	
<div class="search-area">
	<div class="row-fluid">
		<div class="span8">
			<%= @group.description %>
		</div>	
		<div class="span4">
			<div class="pull-right">
			</div>
		</div>	
	</div>
</div>
</div>

</div>