.signed-out-header
	.container
		.row
			.offset1.span10
				= link_to image_tag('logo.png'), root_path, :class => "home-logo"
				.pull-right
					%br
					= link_to 'Sign in', new_user_session_path, :class => "sign-in-button"