.light-grey
	New Article was added to Business Education

.list-title	
	%strong Building a great product
%br
%p No matter how much money I make now I can never go back to school and do things I did not care about  at that time. I really wanted to stand for School President but never had the guts to take up a public post. I tried to compensate by getting elected to my College's Student Council as a Representative but it is not the same thing. Nor can I go back and ask out the girls I wanted to. Or have the carefree life again. College is also over and there are many things I wished I had done but never did due to my own procrastinating nature. Live in the moment and seriously do the shit you want to. Once you do not and time passes you wont be able to go back.	


%hr

.row-fluid
	.span8
		.light-grey
			New Article from the Financial Times

		.list-title	
			%strong Alibaba abandons $60bn Hong Kong listing
		%br
		%p Alibaba has abandoned plans for a $60bn-plus listing in Hong Kong and is pursuing a US share sale after the city’s exchange rejected its demands to control the make-up of its board.
		%p Corporate governance activists cheered the news, but it will be a commercial blow for the Hong Kong Stock Exchange, which loses out on one of the world’s most anticipated listings since Facebook, a deal that could have added 2-3 per cent, or about HK$200m, to its 2013 revenues, according to one analyst.
	.span4
		.recommended-articles
			Knowledge for article
			
%hr 

.sale-recommendation
	.light-grey
		Recommended because you've been reading about financial strategy
		%br
		%br
	.row-fluid
		.span6
			.recommendation-one
				%b On Macroeconomic Topics 
				%p by former finance ministers of various nations 
				%ul
					%li Why interest rates should rise to stifle bad investments
					%li How governments analyse macroeconomic trends
				%i(class="icon-star")
				%i(class="icon-star")
				%i(class="icon-star")								
				%i(class="icon-star")
				%i(class="icon-star-empty")
				&nbsp (600 subscribers)
				%br
				%br
				%span(class="sign-up-button") Subscribe
				
		.span6
			.recommendation-one
				%b Financial Case Studies
				%p from a former Goldman Sachs director
				%ul
					%li Bhutan and the funding of a new national infrastructure program
					%li The merger of Nikon and Unilever - impossible synergies 
				%i(class="icon-star")
				%i(class="icon-star")
				%i(class="icon-star")								
				%i(class="icon-star-empty")
				%i(class="icon-star-empty")
				&nbsp (1300 subscribers)				
				%br
				%br
				%span(class="sign-up-button") Subscribe					

%hr	
			
.light-grey
	Recommended knowledge in light of the Reserve Bank moving up interest rates
.list-title
	%strong Why interest rates should rise to stifle bad investments
%br
%p The day after the announcement, I published an article in Quartz in which I argued that the current high rate of monetary creation and the extremely low interest rates caused by QE3 are unsustainable and that, sooner than later, interest rates are bound to increase. I argued further that the long prevalence of extremely low interest rates is likely to be creating the conditions for a serious financial crisis; all the economic activities that are profitable due to low rates will become unprofitable and will not be able to repay their obligations.